
html {
	background-color: lightgrey;
}

body {
	width: 100%;
	/*max-width: 500px;*/
	margin: auto;
}

#gallery-wrapper {
	width: 100%;
	margin: auto;
}

h1 {
	font-family: 'Quantico', cursive;
	color: blue;
	font-size: 48px;
	text-align: center;
	margin: auto;
	max-width: 100%;
}

.extra-stuff {
	width: 300px;
	height: 212px;
	display: block;
	text-align: center;
	vertical-align: middle;
	line-height: 212px; 
	background-color: mediumblue;
	color: white;
	margin-bottom: 10px;
}

.image, .extra-stuff {
	display: inline-block;
	float: left;
	margin: 0px 5px 0px 5px;
}

.image .portrait {
	width: 300px;
}
.image .portrait img {
	width:  100%;
	height: 416px;
	display: block;
	border: none;
}

.image .landscape {
	width: 300px;
	
}
.image .landscape img {
	width:  100%;
	height: 195px;
	display: block;
	border: none;
}

.caption {
	display: block;
	width: 100%;
	background-color: mediumblue;
	color: white;
	text-align: center;
	margin-bottom: 10px;
}

.wide-image {
	width: 926px;
}

.wide-image .landscape img {
	width:  100%;
	/*height: 210px;*/
	display: block;
	border: none;
}

